html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    color: #ffff;
}

body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    background: #0f1010;
}

ul {
    list-style: none;
    display: flex;
    padding: 20px;
}
ul li:hover{
    background: #fff;
    border: solid 1px;
    border-radius: 9px;
}

ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    padding: 20px;
}
.container img{
    width: 60px;
    padding: 22px 0px 0px 250px;
}
.navbar{
    float: right;
    padding: 22px 200px 0px 0px;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.typing-demo {
    width: 12ch;
    animation: typing 1s steps(22), blink 1.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
}
  
@keyframes typing {
    from {
      width: 0
    }
}
      
@keyframes blink {
    50% {
      border-color: transparent
    }
}
.header-content{
    color: #ffff;
    text-align: center;
    padding-top: 15%;
    padding-bottom: 20%;
    position: relative;
}
.header-content h1{
    font-size: 100px;
}
.btn-dark{
    display: inline-block;
    padding: 10px;
    margin: 30px;
    cursor: pointer;
    color: #ffff;
    border-radius: 22px;
    border: solid 1px;
    text-decoration: none;
}
.btn-dark:hover{
    color: black;
    background: #ffff;
}
.aboutme{
    display: flex;
    margin: 120px;
}
.aboutmeright{
    float: right;
    padding: 90px;
}
.aboutmeright h1{
    margin: 20px;
}
.aboutmeright p{
    padding: 20px;
}
.aboutme img{
    width: 640px;
    padding: 90px;
}
.aboutmeright .ig{
    width: 64px;
    padding: 22px;
}
.aboutmeright .fb{
    width: 64px;
    padding: 22px;
}
.aboutmeright .tw{
    width: 64px;
    padding: 22px;
}